.background-Header{

    width: 98vw;
    height: 120vh;
    background-image: url(imagens-web/s1-ft1.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.header{
    margin: 0 5%;
}

.logo{
    margin-top: 1%;
    height: 35px;
}

.title{
    color: white;
    font-size: 600%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

.title-description{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 25%;
    font-size: 90%;
}

.background-Main{
    background-position: bottom;
    width: 98vw;
    height:4000px;
    background-image: url(imagens-web/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.about-Title{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}

footer{
    background-color: red;
}

.footer-Logo{
    margin: 3% 0 0 5%;
    height: 35px;
}

.form{
    color: white;
}